* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#background {
    background-image: url(https://c4.wallpaperflare.com/wallpaper/445/975/670/web-development-minimalism-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#profilePic {
    border-radius: 200px;
}

#heroBody {
    margin: 0px;
    padding: 0px;
}

#navbarMenuHeroC a {
    color: goldenrod;
    font-size: 30px;
}

#contactTitle {
    font-family: 'Architects Daughter', cursive;
    font-size: 65px;
    color: whitesmoke;
    margin-bottom: 90px;
}

#email, #github, #linkedIn {
    color: goldenrod;
    font-size: 35px;
}
/* #subtitle {
    font-size: 50px;
    color: rgb(135, 255, 215);
} */

#footer a {
    color: goldenrod;
    font-size: 30px;
}

#footer a:hover {
    background-color: gray;
    color: black;
  }