* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  :root {
    --coolGlow: blue;
  }
  /* gives scrolling effect to take the user to a specific section of the screen */
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: #7fd6bc;
  }
  
  header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #7fd6bc;
    color: #ffffff;
  }
  
  header h1 {
    color: #000000;
    font-size: 70px;
    display: inline-block;
  }
  
  header nav {
    padding-top: 50px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
  }
  
  header nav ul li {
    display: inline-block;
    margin-left: 25px;
    flex-wrap: wrap;
    list-style: none;
  }
  
  a {
    color: #4d3f3f;
    text-decoration: none;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin: 10px;
  }
  
  .hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(https://i.pinimg.com/originals/1d/a3/66/1da3663ce1d7d0f6098a31a667e862b4.gif);
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  .hero-text p {
    font-size: 50px;
    background: transparent;
    position: absolute;
    bottom: 10px;
    right: 20px;
  }
  
  /* .main-container {
    position: absolute;
    width: 75%;
    right: 150px;
  } */
  
  #aboutMe, #portfolio, #contact {
    position: relative;
    display: flex;
    margin: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000;
    font-size: 48px;
  }
  
  /* .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 900px;
  } */
  
  /* .justify-center {
    justify-content: center;
  } */
  
  /* mobile first approach, setting base column width to be 100%  */
  /* .pics-column {
    width: 100%;
    flex: 1 0 100%;
    padding: 1.5rem;
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
  } */
  
  .flex-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: 100%;
    width: 700px;
    left: 300px;
    bottom: -50px;
  }
  
  .img-container {
    position: relative;
  }
  
  .text-block {
    position: absolute;
    bottom: 20px;
    right: 0px;
    background-color: #7fd6bc;
    color: #000000;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
  }
  
  #first-code {
    width: 700px;
    height: 500px;
    flex: 1;
  }
  
  img {
    flex: 1;
    width: 350px;
    height: 250px;
    padding: 5px;
    border: #7fd6bc solid 2px;
  }
  
  /* added hover selector to make images glow */
  img:hover {
    box-shadow: inset 0px 0px 8px var(--coolGlow), 0 0 15px var(--coolGlow);
  }
  
  #contact nav ul li a {
    width: 300px;
    font-size: 30px;
    color: red;
    bottom: -275px;
    left: 300px;
    list-style-type: none;
    padding: 20px;
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  .aside {
    position: relative;
    display: flex;
    margin-top: 50px;
    margin-left: 30px;
    padding: 20px;
    clear: both;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-right: 10px dotted black;
  }
  
  /* .aboutMe {
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 60px;
    padding: 100px 50px;
    margin-right: 20px;
  } */
  
  /* .portfolio {
    position: relative;
    top: 30px;
    width: 100%;
    font-size: 60px;
    padding: 500px 20px;
    margin-right: 20px;
  } */
  
  /* .contact {
    position: relative;
    bottom: 20px;
    width: 100%;
    font-size: 60px;
    padding: 100px 20px;
    margin-right: 20px;
  } */
  
  footer {
    font-size: 18px;
    text-align: center;
    background-color: aqua;
  }
  
  /* @media screen and (max-width: 768px) {
    .pics-column {
      flex: 0 0 50%;
      max-width: 50%;
    }
  
   .pics-column:last-child {
     flex-grow: 1;
   } 
  } */
  
  /* @media screen and (min-width: 992px) {
    header {
      width: 100%;
    }
  
    .pics-column {
      flex: 0 0 33.333%;
      max-width: 33.333%;
    }
  } */